.voting-page-container .options-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 1.5em;
  border: 1px solid #dfdfdf;
  border-top: 0 none;
}

.voting-page-container .options-container li {
  display: flex;
  border-top: 1px solid #dfdfdf;
  align-items: center;
}

.voting-page-container .options-container li > div {
  width: 100px;
  padding: 10px;
  box-sizing: border-box;
}

.voting-page-container .options-container li > div:first-child {
  flex: 1;
}

.voting-page-container .button-section {
  margin-top: 1.5em;
  display: flex;
  justify-content: space-between;
}

.voting-page-container .voted {
  background-color: #efefef;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}

@media screen and (max-width: 480px) {
  .options-container li {
    flex-direction: column;
    margin: 15px 0;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  }

  .options-container li > div:first-child {
    width: 100%;
    text-align: center;
  }

  .voting-page-container .options-container {
    border: 0 none;
  }
}
